@font-face {
  font-family: HKBold;
  src: url(../font/HKGrotesk-Bold.otf);
}
@font-face {
  font-family: HK;
  src: url(../font/HKGrotesk-Light.otf);
}
@font-face {
  font-family: KBold;
  src: url(../font/Kollektif-Bold.ttf);
}
@font-face {
  font-family: K;
  src: url(../font/Kollektif.ttf);
}
@font-face {
  font-family: ZSR;
  src: url(../font/ZefaniStencil-Regular.otf);
}

$pink: #E4457D;
$orange: #F0B67F;
$yellow: #FBE96B;
$blue: #9AC4F8;
$green: #99EDCC;
$white: #fff;
$black: #1a1a1a;

body {
  font-family: K !important;
  background: $black;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 100%;
  text-rendering: optimizeLegibility;
}
.full {
  min-height: 100vh;
}
.hide {
  display: none;
}
* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
*::after {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
*::before {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
@media(min-width: 860px) {
  body {
    font-size: 8px;
  }
  html {
    font-size: 8px;
  }
}
@media(min-width: 1200px) {
  body {
    font-size: 10px;
  }
  html {
    font-size: 10px;
  }
}
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 3rem 2rem;
  z-index: 20;
  .header {
    position: relative;
    display: block;
    width: 100%;
    height: 6rem;
  }
  .menu-wrapper {
    position: relative;
    left: 0;
    display: block;
    cursor: pointer;
    width: 2.5rem;
    height: 3rem;
    top: 8em;
    margin: 0;
    text-align: right;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .menu-hamburger {
    position: relative;
    width: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    background: $orange;
    height: 1px;
    cursor: pointer;
    right: 0;
    top: 1rem;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    span {
      position: absolute;
      right: 2.2em;
      bottom: -.85em;
      font-size: 1.5rem;
      font-family: ZSR;
      color: $yellow;
    }
  }
  .menu-hamburger::before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: $pink;
    position: absolute;
    top: -0.8rem;
    right: 0;
  }
  .menu-hamburger::after {
    content: "";
    width: 1.8rem;
    height: 1px;
    background: $blue;
    position: absolute;
    top: 0.8rem;
    right: 0;
  }
  .logo-wrapper {
    position: relative;
    float: left;
  }
  .logo {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    font-weight: 700;
    span {
      font-weight: 100;
    }
  }
}
.slider-content {
  position: relative;
  min-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  .slider-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
}
  .slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 500ms 0ms, transform;
    &.out {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
  }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &.active {
      opacity: 1;
    }
  }
  img {
    position: absolute;
    display: block;
    width: 55vw;
    max-height: 100vh;
    top: 34vh;
    left: 24vw;
    opacity: 0;
  }
  .title-wrapper {
    position: absolute;
    left: 30em;
    top: 7vh;
    width: 35%;
    &.bigger {
      width: 48%;
    }
    h1 {
      font-size: 9rem;
      margin: 0;
      line-height: 1;
      margin-bottom: 1rem;
      font-weight: 900;
    }
    h2 {
      font-size: 2rem;
      margin: 0 auto;
    }
  }
.control-nav {
  position: absolute;
  left: 3em;
  top: 22em;
  z-index: 999;
  opacity: 0;
  ul {
    position: relative;
    list-style: none;
    padding: 0;
  }
  li {
    cursor: cell;
    height: 2.2rem;
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: bold;
    line-height: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .38rem;
    white-space: nowrap;
    background: $white;
    color: $black;
    display: inline-block;
    position: relative;
    float: left;
    clear: left;
    opacity: 0.5;
    font-family: ZSR;
    margin-bottom: 0.5em;
    &.active {
      opacity: 1;
    }
  }
}
.nav-wrapper {
  opacity: 0;
  position: absolute;
  left: 3em;
  top: 45vh;
  text-align: left;
  /* cursor: pointer; */
  z-index: 999;
  width: 12%;
  .next-color {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    margin-right: 1rem;
    overflow: hidden;
    span {
      display: block;
      &:last-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .prev-button {
    position: relative;
    padding-top: 8%;
    left: 35%;
    transform: rotate(180deg);
    transform-origin: 20% 11%;
    cursor: n-resize;
    width: 20px;
    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
  .next-button {
    position: relative;
    padding-top: 8%;
    cursor: s-resize;
    width: 20px;
    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
}
.footer-wrapper {
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  z-index: 10;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  li {
    position: relative;
    float: left;
    margin: 0 1rem;
  }
  a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
  }
}
.opus-container {
  & span {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    color: $blue;
    left: 40vw;
    top: 65vh;
    font-size: 12rem;
    font-family: ZSR;
  }
}
.opus-quote {
  top: 25vh;
  width: 20vw;
  left: 20vw;
  position: absolute;
  font-family: HKBold;
  text-align: justify;
  color: $white;
  border: 10px solid $white;
  padding: 3rem;
  & h1 {
    text-transform: uppercase;
    letter-spacing: .5em;
    line-height: 2;
    font-size: 2rem;
  }
  & h2 {
    font-family: HK;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1rem;
    background-color: $black;
    left: -10px;
   margin-top: 3em;
  }
}
.emphasize {
  font-family: ZSR;
  line-height: 2;
}
.always-shown {
  opacity: 1 !important;
}
.color-key {
  color: $white;
}
.advance-tag {
  font-family: ZSR;
  &.normal {
    font-family: KBold;
  }
}
.descline {
  font-size: 1rem !important;
  font-family: ZSR;
  width: 100px;
}
svg.mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.button-begin {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 240px;
  top: 34vh;
  font-family: HKBold;
  color: $white !important;
  font-size: 2rem !important;
  border: 10px solid $white !important;
  border-radius: 0 !important;
  height: initial !important;
  padding: 0 1em !important;
  display: block !important;
  opacity: 0;
  &:hover {
    color: $black !important;
    background: $white !important;
    border: 10px solid $black !important;
  }
}
.portfolio-description {
  font-family: ZSR;
  color: $white;
  position: relative;
  top: 30vh;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.name-typography {
  font-size: 30rem;
  font-family: HKBold;
  position: relative;
  text-align: center;
  top: 30vh;
  // left: 41vw;
  // color: $yellow;
  width: 800px;
  margin: 0 auto;
}
.animate-in,
.animate-in-late {
  // display: inline-block;
  text-align: center;
  position: relative;
 -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $yellow 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}
.fade-in,
.fade-in-late {
  transition: 0.6s opac cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}
.white-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $white 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.green-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $green 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.black-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $black 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.orange-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $orange 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.blue-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $blue 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.black-text-fix {
  color: $black;
}
.animate-in:after,
.animate-in-late:after {
  content: "";
  height: 100%;
  width: 100%;
  background: $pink;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.white-wipe.animate-in:after,
.white-wipe.animate-in-late:after {
  background: $white;
}
.orange-wipe.animate-in:after,
.orange-wipe.animate-in-late:after {
  background: $orange;
}
.black-wipe.animate-in:after,
.black-wipe.animate-in-late:after {
  background: $black;
}
.green-wipe.animate-in:after,
.green-wipe.animate-in-late:after {
  background: $green;
}
.blue-wipe.animate-in:after,
.blue-wipe.animate-in-late:after {
  background: $blue;
}
.animate-in.active,
.animate-in-late.active {
  background-position: 0 0;
}
.fade-in.active,
.fade-in-late.active {
  opacity: 0;
  animation: opac 0.6s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.fade-in.stagger-2.active {
  opacity: 0;
  animation: opac 0.6s 1.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.animate-in.active:after,
.animate-in-late.active:after {
  animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.animate-in.stagger.active:after {
  animation: anime 1.2s 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51%{
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
