@font-face {
  font-family: HKBold;
  src: url('../font/HKGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('../font/HKGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/HKGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/HKGrotesk-Bold.otf')  format('opentype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: HK;
  src: url('../font/HKGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('../font/HKGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/HKGrotesk-Regular.woff') format('woff'); /* Pretty Modern Browsers */
       /* url('HKGrotesk-Regular.otf')  format('opentype'); /* Safari, Android, iOS */
}
/* @font-face {
  font-family: HKBold;
  src: url(../font/HKGrotesk-Bold.otf);
}
@font-face {
  font-family: HK;
  src: url(../font/HKGrotesk-Light.otf);
} */
@font-face {
  font-family: ZSR;
  src: url(../font/ZefaniStencil-Regular.otf);
}

$pink: #E4457D;
.pink {
  color: $pink;
}
$orange: #F0B67F;
.orange {
  color: $orange;
}
$yellow: #FBE96B;
$blue: #9AC4F8;
.blue {
  color: $blue;
}
$green: #99EDCC;
$white: #fff;
$black: #1a1a1a;
$cream: #e9e8e8;

body {
  font-family: HK !important;
  background: $black;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 100%;
  text-rendering: optimizeLegibility;
}
.full {
  min-height: 100vh;
}
.hide {
  display: none;
}
* {
  /*Instead of the line below you could use @include box-sizing($bs)*/
  box-sizing: border-box;
}
*::after {
  /*Instead of the line below you could use @include box-sizing($bs)*/
  box-sizing: border-box;
}
*::before {
  /*Instead of the line below you could use @include box-sizing($bs)*/
  box-sizing: border-box;
}
@media(min-width: 860px) {
  body {
    font-size: 8px;
  }
  html {
    font-size: 8px;
  }
}
@media(min-width: 1200px) {
  body {
    font-size: 10px;
  }
  html {
    font-size: 10px;
  }
}
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 3rem 2rem;
  z-index: 1001;
  .header {
    position: relative;
    display: block;
    width: 100%;
    height: 6rem;
  }
  .menu-wrapper {
    position: relative;
    left: 0;
    display: block;
    cursor: pointer;
    width: 2.5rem;
    height: 3rem;
    top: 8em;
    margin: 0;
    text-align: right;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .menu-hamburger {
    position: relative;
    width: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    background: $orange;
    height: 1px;
    cursor: pointer;
    right: 0;
    top: 1rem;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    span {
      position: absolute;
      right: 2.2em;
      bottom: -.85em;
      font-size: 1.5rem;
      font-family: ZSR;
      color: $yellow;
    }
  }
  .menu-hamburger::before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: $pink;
    position: absolute;
    top: -0.8rem;
    right: 0;
  }
  .menu-hamburger::after {
    content: "";
    width: 1.8rem;
    height: 1px;
    background: $blue;
    position: absolute;
    top: 0.8rem;
    right: 0;
  }
  .logo-wrapper {
    position: relative;
    float: left;
  }
  .logo {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    font-weight: 700;
    span {
      font-weight: 100;
    }
    .nav-visible & {
      background: $cream;
      -webkit-text-fill-color: $black;
    }
  }
}
.slider-content {
  position: relative;
  min-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  .slider-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
}
  .slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 500ms 0ms, -webkit-transform;
    transition: opacity 500ms 0ms, -webkit-transform;
    transition: opacity 500ms 0ms, transform;
    transition: opacity 500ms 0ms, transform, -webkit-transform;
    &.out {
      opacity: 0;
      -webkit-transform: translate3d(0, -30px, 0);
              transform: translate3d(0, -30px, 0);
    }
  }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &.active {
      opacity: 1;
    }
  }
  img {
    position: absolute;
    display: block;
    width: 55vw;
    max-height: 100vh;
    top: 34vh;
    left: 24vw;
    opacity: 0;
  }
  .title-wrapper {
    position: absolute;
    left: 30em;
    top: 7vh;
    width: 35%;
    &.bigger {
      width: 48%;
    }
    &.offshore {
      width: 70em;
    }
    &.tempest {
      width: 38em;
    }
    &.crncy {
      width: 42em;
    }
    &.rgbhex {

    }
    &.whiteandred {

    }
    h1 {
      font-size: 9rem;
      margin: 0;
      line-height: 1;
      margin-bottom: 1rem;
      font-weight: 900;
      text-align: left;
    }
    h2 {
      font-size: 2rem;
      margin: 0 auto;
    }
  }
.control-nav {
  position: absolute;
  left: 3em;
  top: 22em;
  z-index: 900;
  opacity: 0;
  ul {
    position: relative;
    list-style: none;
    padding: 0;
  }
  li {
    cursor: cell;
    height: 2.2rem;
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: bold;
    line-height: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .38rem;
    white-space: nowrap;
    background: $white;
    color: $black;
    display: inline-block;
    position: relative;
    float: left;
    clear: left;
    opacity: 0.5;
    font-family: ZSR;
    margin-bottom: 0.5em;
    &.active {
      opacity: 1;
    }
  }
}
.nav-wrapper {
  opacity: 0;
  position: absolute;
  left: 3em;
  top: 45vh;
  text-align: left;
  /* cursor: pointer; */
  z-index: 900;
  width: 12%;
  .next-color {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    margin-right: 1rem;
    overflow: hidden;
    span {
      display: block;
      &:last-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .prev-button {
    position: relative;
    padding-top: 8%;
    left: 35%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: 20% 11%;
            transform-origin: 20% 11%;
    cursor: n-resize;
    width: 20px;
    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
  .next-button {
    position: relative;
    padding-top: 8%;
    cursor: s-resize;
    width: 20px;
    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
}
.footer-wrapper {
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.77, 0, 0.175, 1), z-index 0s 200ms;
  .nav-visible & {
    opacity: 1;
    z-index: 999;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 700ms;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  li {
    position: relative;
    float: left;
    margin: 0 1rem;
  }
  a {
    color: $black;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
  }
}
.about-wrapper {
  margin-top: 20vh;
  .main {
    margin-left: 50%;
    }
  .about-stylzd {
    font-size: 3rem;
    margin-bottom: 0;
    color: $cream;
    font-family: HKBold;
  }
  .shove-down {
    margin-top: 4rem;
    position: absolute;
  }
}
.opus-container {
  top: 13vh;
  position: absolute;
  .pretty-year {
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    color: $blue;
    left: 40vw;
    top: 65vh;
    font-size: 12rem;
    font-family: ZSR;
  }
}
.nav-overlay {
  background-color: $cream;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms cubic-bezier(0.77, 0, 0.175, 1), z-index 0s 200ms;
  .nav-visible & {
    opacity: 1;
    z-index: 999;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 0s;
  }
}
.nav {
  position: fixed;
  left: 2.5em;
  right: 2.5em;
  top: 35em;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  .nav-visible & {
    opacity: 1;
    z-index: 1000;
  }
  ul {
    height: 100%;
    max-height: 30em;
  }
  li {
    overflow: hidden;
    opacity: 0;
    list-style: none;
    padding: 1em;
    width: 50em;
    .nav-visible & {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 0.75s;
      transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0s;
    }
    &:after {
      display: block;
      content: '';
      /* width: 200px; */
      height: 4em;
      width: 4em;
      top: -4.5em;
      position: relative;
      opacity: 1;
      transition-property: transform;
      transition-duration: 0.75s;
      transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0s;
      z-index: 0;
    }
    &:hover:after {
      transform: translateY(-2em);

    }
    &:nth-child(1):after {
      background: $orange;
    }
    &:nth-child(2):after {
      background: $blue;
    }
    &:nth-child(3):after {
      background: $green;
    }
    &:nth-child(4):after {
      background: $pink;
    }
    @for $i from 1 through 5 {
      .nav-visible &:nth-child(#{$i}) {
        transition-delay: $i * .1s;

        a span {
          transition-delay: $i * .1s;
        }
      }
    }
  }
  a {
    padding-left: 5rem;
    text-transform: uppercase;
    position: relative;
    color: $black;
    font-family: HKBold;
    span {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 1rem;
      opacity: 0;
      display: inline-block;
      transform: translateX(10em);
      .nav-visible & {
        opacity: 1;
        transform: translateX(0rem);
        transition-property: opacity, transform;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.165,.84,.44,1);
      }
    }
  }
}
.opus-self {
  margin-top: 1em;
  p {
    letter-spacing: .02em;
    color: $white;
    font-family: HK;
    .first {
      color: $orange;
      display: inline-block;
      position: initial;
      font-size: 6rem;
      font-family: ZSR;
      line-height: .5;
      margin-left: -.5em;
      margin-right: -.2em;
    }
    .highlight-green {
      color: $green;
    }
  }
}
.opus-quote {
  top: 25vh;
  /* width: 20vw; */
  left: 20vw;
  /* position: absolute; */
  font-family: HKBold;
  text-align: justify;
  color: $white;
  border: 10px solid $white;
  padding: 3rem;
  h1 {
    text-transform: uppercase;
    letter-spacing: .5em;
    line-height: 2;
    font-size: 2rem;
  }
  h2 {
    font-family: HK;
    /* position: absolute; */
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1rem;
    background-color: $black;
    left: -10px;
    margin-top: 3em;
  }
}
.emphasize {
  font-family: ZSR;
  line-height: 2;
}
.always-shown {
  opacity: 1 !important;
}
.color-key {
  color: $white;
}
.advance-tag {
  font-family: ZSR;
  &.normal {
    font-family: KBold;
  }
}
.descline {
  font-size: 1rem !important;
  font-family: ZSR;
  width: 100px;
}
.music-wrapper {
  top: 7.7em;
  right: 3em;
  position: fixed;
  width: 1.75rem;
  height: 1.75rem;
  fill: $white;
  .nav-visible & {
    fill: $black;
  }
}
.music-control {
  &.muted {
    .speaker-mute {
      opacity: 1 !important;
    }
    .speaker {
      opacity: 0 !important;
    }
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .speaker-mute {
    opacity: 0;
  }
}
.button-begin {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 240px;
  top: 34vh;
  font-family: HKBold;
  color: $white !important;
  font-size: 2rem !important;
  border: 10px solid $white !important;
  border-radius: 0 !important;
  height: initial !important;
  padding: 0 1em !important;
  display: block !important;
  opacity: 0;
  &:hover {
    color: $black !important;
    background: $white !important;
    border: 10px solid $black !important;
  }
}
.portfolio-description {
  font-family: ZSR;
  color: $white;
  position: relative;
  top: 30vh;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.name-typography {
  font-size: 30rem;
  font-family: HKBold;
  position: relative;
  text-align: center;
  top: 30vh;
  /* left: 41vw;*/
  /* color: $yellow;*/
  width: 800px;
  margin: 0 auto;
}
.animate-in,
.animate-in-late {
  /* display: inline-block;*/
  text-align: center;
  position: relative;
 -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $yellow 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
  transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}
.fade-in,
.fade-in-late {
  -webkit-transition: 0.6s opac cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
  transition: 0.6s opac cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}
.white-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $white 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.green-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $green 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.pink-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $pink 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.black-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $black 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.orange-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $orange 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.blue-text {
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, $blue 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
}
.black-text-fix {
  color: $black;
}
.animate-in:after,
.animate-in-late:after {
  content: "";
  height: 100%;
  width: 100%;
  background: $pink;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.white-wipe.animate-in:after,
.white-wipe.animate-in-late:after {
  background: $white;
}
.orange-wipe.animate-in:after,
.orange-wipe.animate-in-late:after {
  background: $orange;
}
.black-wipe.animate-in:after,
.black-wipe.animate-in-late:after {
  background: $black;
}
.green-wipe.animate-in:after,
.green-wipe.animate-in-late:after {
  background: $green;
}
.blue-wipe.animate-in:after,
.blue-wipe.animate-in-late:after {
  background: $blue;
}
.animate-in.active,
.animate-in-late.active {
  background-position: 0 0;
}
.fade-in.active,
.fade-in-late.active {
  opacity: 0;
  -webkit-animation: opac 0.6s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
          animation: opac 0.6s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.fade-in.stagger-2.active {
  opacity: 0;
  -webkit-animation: opac 0.6s 1.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
          animation: opac 0.6s 1.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.animate-in.active:after,
.animate-in-late.active:after {
  -webkit-animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
          animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.animate-in.stagger.active:after,
.animate-in-late.stagger.active:after {
  -webkit-animation: anime 1.2s 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
          animation: anime 1.2s 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
@keyframes hov {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(3em);
  }
}
@-webkit-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51%{
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes anime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51%{
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
